<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leesky.ezframework.order.mapper.IcourseMapper">
    <resultMap type="com.leesky.ezframework.order.model.CourseModel" id="xmlResult">
        <collection property="students" column="id" ofType="com.leesky.ezframework.order.model.StudentCourseModel" select="com.leesky.ezframework.order.mapper.IstudentCourseMapper.selectBycourseId" fetchType="lazy"/>
    </resultMap>
    <sql id="tableName">cbm_course</sql>

    <select id="selectById" parameterType="String" resultMap="xmlResult">
        select * from
        <include refid="tableName"/>
        where id = #{id}
    </select>
    <select id="selectList" parameterType="com.leesky.ezframework.mybatis.query.QueryFilter" resultMap="xmlResult">
        <choose>
            <when test="ew.param!=null">
                select ${ew.sqlSelect} from
                <include refid="tableName"/>
                where
                <foreach collection="ew.op" item="value" separator=" and ">${value}</foreach>
            </when>
            <otherwise>
                select * from
                <include refid="tableName"/>
            </otherwise>
        </choose>
    </select>
    <select id="selectBatchIds" parameterType="java.util.Collection" resultMap="xmlResult">
        <if test="coll!=null">
            select * from
            <include refid="tableName"/>
            where id in (
            <foreach collection="coll" item="value" separator=",">
                #{value}
            </foreach>
            )
        </if>
    </select>
    <select id="selectPage" resultMap="xmlResult">
        select ${ew.sqlSelect} from
        <include refid="tableName"/>
        where
        <foreach collection="ew.op" item="value" separator=" and ">${value}</foreach>
    </select>

</mapper>
