<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leesky.ezframework.order.mapper.ImanMapper">
    <resultMap type="com.leesky.ezframework.order.model.ManModel" id="xmlResult">
        <association property="laoPo" column="laopo_id"  select="com.leesky.ezframework.order.mapper.IwomanMapper.selectById" fetchType="lazy"/>
        <association property="idCard" column="card_id"  select="com.leesky.ezframework.order.mapper.IidCardMapper.selectById" fetchType="lazy"/>
        <association property="companyModel" column="company_id"  select="com.leesky.ezframework.order.mapper.IcompanyMapper.selectById" fetchType="lazy"/>
        <collection property="tels" column="id" ofType="com.leesky.ezframework.order.model.TelModel" select="com.leesky.ezframework.order.mapper.ItelMapper.selectBylaoHanId" fetchType="lazy"/>
        <collection property="childs" column="id" ofType="com.leesky.ezframework.order.model.ChildModel" select="com.leesky.ezframework.order.mapper.IchildMapper.selectBylaoHanId" fetchType="lazy"/>
    </resultMap>
    <sql id="tableName">cbm_man</sql>
    <select id="selectBycompanyId" parameterType="String" resultMap="xmlResult">
        select * from <include refid="tableName"/> where company_id = #{id}
    </select>

    <select id="selectById" parameterType="String" resultMap="xmlResult">
        select * from
        <include refid="tableName"/>
        where id = #{id}
    </select>
    <select id="selectList" parameterType="com.leesky.ezframework.mybatis.query.QueryFilter" resultMap="xmlResult">
        <choose>
            <when test="ew.param!=null">
                select ${ew.sqlSelect} from
                <include refid="tableName"/>
                where
                <foreach collection="ew.op" item="value" separator=" and ">${value}</foreach>
            </when>
            <otherwise>
                select * from
                <include refid="tableName"/>
            </otherwise>
        </choose>
    </select>
    <select id="selectBatchIds" parameterType="java.util.Collection" resultMap="xmlResult">
        <if test="coll!=null">
            select * from
            <include refid="tableName"/>
            where id in (
            <foreach collection="coll" item="value" separator=",">
                #{value}
            </foreach>
            )
        </if>
    </select>
    <select id="selectPage" resultMap="xmlResult">
        select ${ew.sqlSelect} from
        <include refid="tableName"/>
        where
        <foreach collection="ew.op" item="value" separator=" and ">${value}</foreach>
    </select>

</mapper>
